.kmsc-logo {
  position: absolute;
  left: 45%;
  margin-left: -50px !important;
  display: block;
  height: auto;
  width: 165px;
  top: -25%;
}

.kmsc-logo-login {
  height: auto;
  width: 350px;
  margin: 0px 250px;
}

.kmsc-login-box {
  margin: 0px 250px;
  background-color: rgba(255, 255, 255, 0.64);
  border: none;
  border-radius: 10px;
  width: 350px !important;
}

.kmsc-login-bg {
  background-image: url(images/bg-login2.jpg);
  background-size: cover;
}

.k-logo {
  height: auto;
  width: 50px;
}

.fa.danger {
	font-size: 17px;
	color: #ec4758;
}

.fa.danger:hover {
	cursor: pointer;
	color: #c9302c;
}

.fa.warning {
	font-size: 17px;
	color: #f7a54a;
}

.fa.warning:hover {
	cursor: pointer;
	color: #ec971f;
}

.fa.success {
	font-size: 17px;
	color: #1ab394;
}

.fa.success:hover {
	cursor: pointer;
	color: #18a689;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.clockpicker-popover {
    z-index: 999999;
}

.chosen-container .chosen-drop {
      position: fixed;
      display: none;
      top: auto;
      left: auto;
}
.chosen-container.chosen-with-drop .chosen-drop {
      display: block;
      left: auto;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.navbar-static-side .tooltip.right .tooltip-inner {
    background-color: #ec4758;
}
.navbar-static-side .tooltip.right .tooltip-arrow {
      border-right-color: #ec4758;
}
