# sudo: required
# language: node_js
# node_js:
#   - "0.10"

# before_install:
#   - "curl -L https://git.io/ejPSng | /bin/sh"

# env:
#   - CXX=g++-4.8
# addons:
#   apt:
#     sources:
#       - ubuntu-toolchain-r-test
#     packages:
#       - g++-4.8

sudo: false

language: node_js
node_js:
  - "6.9.1"

before_install:
  - curl https://install.meteor.com | /bin/sh
  - export PATH="$HOME/.meteor:$PATH"

script:
  - meteor build $HOME/build.tgz

cache:
  directories:
    - node_modules

before_script:
  - meteor npm install

script:
  - meteor add practicalmeteor:mocha
  - npm i chimp
  - chimp --ddp=http://localhost:3000 --mocha --path=./tests