<template name="createEmployeesModalTemplate">
    <div class="modal inmodal fade in" id="createEmployeesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-user modal-icon"></i>
                    <h4 class="modal-title">Add an Employee</h4>
                </div>
                <form class="form-horizontal" id="create-employee-form" novalidate="false">
                    <div class="modal-body">

                        <div class="form-group"><label class="col-lg-4 control-label">Employee Name</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" name="employeeName" id="employee-name" class="form-control required" >
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-4 control-label">Email</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-at"></i></span>
                                    <input type="email" name="employeeEmail" id="employee-email" class="form-control required" >
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group"><label class="col-lg-4 control-label">Monday Hours</label>
                            <div class="col-lg-6">
                                <div class="input-group input-daterange">
                                    <div class="monday-start" data-autoclose="true">
                                    <input type="text" name="time" id="monday-start" class="input-sm form-control required">
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="monday-end" data-autoclose="true">
                                    <input type="text" name="time" id="monday-end" class="input-sm form-control required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <button type="button" id="monday-status-btn" status="open" class="btn btn-sm btn-danger">Closed</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-4 control-label">Tuesday Hours</label>
                            <div class="col-lg-6">
                                <div class="input-group input-daterange">
                                    <div class="tuesday-start" data-autoclose="true">
                                    <input type="text" name="time" id="tuesday-start" class="input-sm form-control required" value="">
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="tuesday-end" data-autoclose="true">
                                    <input type="text" name="time" id="tuesday-end" class="input-sm form-control required" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <button type="button" id="tuesday-status-btn" status="open" class="btn btn-sm btn-danger">Closed</button>
                                </div>
                            </div>
                        </div>   

                        <div class="form-group"><label class="col-lg-4 control-label">Wednesday Hours</label>
                            <div class="col-lg-6">
                                <div class="input-group input-daterange">
                                    <div class="wednesday-start" data-autoclose="true">
                                    <input type="text" name="time" id="wednesday-start" class="input-sm form-control">
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="wednesday-end" data-autoclose="true">
                                    <input type="text" name="time" id="wednesday-end" class="input-sm form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <button type="button" id="wednesday-status-btn" status="open" class="btn btn-sm btn-danger">Closed</button>
                                </div>
                            </div>
                        </div> 

                        <div class="form-group"><label class="col-lg-4 control-label">Thursday Hours</label>
                            <div class="col-lg-6">
                                <div class="input-group input-daterange">
                                    <div class="thursday-start" data-autoclose="true">
                                    <input type="text" name="time" id="thursday-start" class="input-sm form-control">
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="thursday-end" data-autoclose="true">
                                    <input type="text" name="time" id="thursday-end" class="input-sm form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <button type="button" id="thursday-status-btn" status="open" class="btn btn-sm btn-danger">Closed</button>
                                </div>
                            </div>
                        </div>  

                        <div class="form-group"><label class="col-lg-4 control-label">Friday Hours</label>
                            <div class="col-lg-6">
                                <div class="input-group input-daterange">
                                    <div class="friday-start" data-autoclose="true">
                                    <input type="text" name="time" id="friday-start" class="input-sm form-control">
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="friday-end" data-autoclose="true">
                                    <input type="text" name="time" id="friday-end" class="input-sm form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <button type="button" id="friday-status-btn" status="open" class="btn btn-sm btn-danger">Closed</button>
                                </div>
                            </div>
                        </div>  

                        <div class="form-group"><label class="col-lg-4 control-label">Saturday Hours</label>
                            <div class="col-lg-6">
                                <div class="input-group input-daterange">
                                    <div class="saturday-start" data-autoclose="true">
                                    <input type="text" name="time" id="saturday-start" class="input-sm form-control">
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="saturday-end" data-autoclose="true">
                                    <input type="text" name="time" id="saturday-end" class="input-sm form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <button type="button" id="saturday-status-btn" status="open" class="btn btn-sm btn-danger">Closed</button>
                                </div>
                            </div>
                        </div>  

                        <div class="form-group"><label class="col-lg-4 control-label">Sunday Hours</label>
                            <div class="col-lg-6">
                                <div class="input-group input-daterange">
                                    <div class="sunday-start" data-autoclose="true">
                                    <input type="text" name="time" id="sunday-start" class="input-sm form-control">
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="sunday-end" data-autoclose="true">
                                    <input type="text" name="time" id="sunday-end" class="input-sm form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="input-group">
                                    <button type="button" id="sunday-status-btn" status="open" class="btn btn-sm btn-danger">Closed</button>
                                </div>
                            </div>
                        </div>  

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="cancel-btn" autofocus=" " class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="submit" id="create-employee-btn" class="btn btn-primary">Create Employee</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>