<template name="footer">

    <div class="footer">
        <div style="display:initial">
            <strong>Copyright</strong> Kanjee Medical Skin Care &copy; 2017
        </div>
        <div style="display:inline;float:right;">
            {{#if green}}
              <span class="fa fa-heart text-navy faa-pulse animated fa-4x" style="font-size: 10pt; margin-right: 15px;" data-container="body" data-toggle="tooltip" data-placement="left" title="" data-original-title="CONNECTED" aria-hidden="true"></span>
            {{/if}}
            {{#if yellow}}
              <span class="fa fa-heart text-warning faa-pulse animated fa-4x" style="font-size: 10pt; margin-right: 15px;" data-container="body" data-toggle="tooltip" data-placement="left" title="" data-original-title="CONNECTING" aria-hidden="true"></span>
            {{/if}}
            {{#if red}}
              <span class="fa fa-heart text-danger faa-pulse animated fa-4x" style="font-size: 10pt; margin-right: 15px;" data-container="body" data-toggle="tooltip" data-placement="left" title="" data-original-title="NOT CONNECTED" aria-hidden="true"></span>
            {{/if}}
            <strong>v1.1.14</strong>
        </div>
    </div>

</template>
